{% extends "app/layout.html" %}

{% block content %}

<h2 class="h2">{{ title }}.</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Миссия компании</h2>
        <p>
            Преобразование автосервисного рынка 
            России и Казахстана до уровня лучших мировых стандартов, 
            являясь на этом рынке лидером и новатором технологий
        </p>
</div>
<br>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Лучшие потому что</h2>
    <div class="col-md-4">

        <h3>Современные</h3>
        <p>Используем современные технологии и ставим интересы клиента на первое место.</p>

    </div>
    <div class="col-md-4">

        <h3>Оперативные</h3>
        <p>Используем современные технологии и ставим интересы клиента на первое место.</p>
    </div>
    <div class="col-md-4">

        <h3>Надёжные</h3>
        <p>Мы гарантируем, что автомобиль после обслуживания будет работать надёжно. Мы хотим, чтобы вы и ваши близкие чувствовали себя в безопасности.</p>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


</div>
</br>


{% endblock %}
